{% extends "base.html" %}
{% block title %}
    Owned Properties
{% endblock title %}
{% block content %}
    <div class="container">
        <h1>Owned Properties</h1>
        {% if properties %}
            <ul class="list-group">
                {% for property in properties %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{% url 'property_detail' pk=property.pk %}">{{ property.name }}</a>
                        <div>
                            <a href="{% url 'property_update' pk=property.pk %}"
                               class="btn btn-warning btn-sm mr-2">Edit</a>
                            <a href="{% url 'property_delete' pk=property.pk %}"
                               class="btn btn-danger btn-sm">Delete</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No Owned properties found.</p>
        {% endif %}
        {% include "properties/pagination_controls.html" %}
    </div>
{% endblock content %}
