{% extends "base.html" %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h2>Delete Property</h2>
        </div>
        <div class="card-body">
            <p>Are you sure you want to delete "{{ property.name }}"?</p>
            <form method="post" action="{% url 'property_delete' property.pk %}">
                {% csrf_token %}
                <div class="mb-3">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a href="{% url 'property_detail' property.pk %}"
                       class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
