{% extends "base.html" %}
{% block title %}
    All Units
{% endblock title %}
{% block content %}
    <div class="container">
        <h1>All Units</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Unit Number</th>
                    <th>Property</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for unit in units %}
                    <tr>
                        <td>
                            <a href="{% url 'property_detail' pk=unit.property.pk %}">{{ unit.unit_number }}</a>
                        </td>
                        <td>{{ unit.property.name }}</td>
                        <td>
                            <a href="{% url 'unit_update' pk=unit.pk %}"
                               class="btn btn-sm btn-warning">Edit</a>
                            <a href="{% url 'unit_delete' pk=unit.pk %}"
                               class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "properties/pagination_controls.html" %}
    </div>
{% endblock content %}
